<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form [formGroup]="rechargeForm" #mobileForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title" style="text-align: center;">
                        <span class="glyphicon glyphicon glyphicon-film"> </span> Dth Recharge</div>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="email">Enter CustomerID: <i class="star"> *</i></label>
                        <input type="email" formControlName="customerId" class="form-control">
                        <div *ngIf="submit && f.customerId.errors">
                            <div class="invalid-feedback" *ngIf="f.customerId.errors.required">Customer ID required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email"> Enter Amount(₹): <i class="star"> *</i></label>
                        <input type="email" formControlName="amount" class="form-control">
                        <div *ngIf="submit && f.amount.errors">
                            <div class="invalid-feedback" *ngIf="f.amount.errors.required">Amount required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select Operator(select one): <i class="star"> *</i></label>
                        <select class="form-control" formControlName="operator">
                              <option value="">Select Operator</option>
                              <option *ngFor="let operator of operators" [value]="operator.name"> {{operator.name}}</option> 
                        </select>
                        <div *ngIf="submit && f.operator.errors">
                            <div class="invalid-feedback" *ngIf="f.operator.errors.required">Operator is required</div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <a class="savebtn">
                        <button type="submit" class="btn-primary btn-lg">
                        <span class="glyphicon  glyphicon-save-file"> </span> Submit</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>