<!-- The Modal -->
<div *ngIf="showModal">
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" (click)="hideModal()">&times;</span><br><br>
            <div class="card text-center">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h4>Recharge Details</h4>
                        </li>
                        <li class="list-group-item">Network Type: {{mobileDetails.networkType}}</li>
                        <li class="list-group-item">MobileNumber: {{mobileDetails.mobileNumber}} </li>
                        <li class="list-group-item">Amount: {{mobileDetails.amount}}</li>
                        <li class="list-group-item">Operator: {{mobileDetails.operator}}</li>
                    </ul>
                    <a class="btn btn-primary " (click)="editRecharge()" style="margin-right: 10px;"><span class="glyphicon glyphicon-arrow-left"> </span> Edit Before Recharge </a>
                    <a [routerLink]="[ '/mobile/status'  ]" class="btn btn-primary">Proceed To Recharge <span class="glyphicon glyphicon-arrow-right"> </span></a>
                </div>
            </div>
        </div>
    </div>
</div>